body,
html {
  text-align: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  font-family: "ZCOOL QingKe HuangYou", cursive;
}
.container {
  padding: 10px;
}
section {
  margin-top: 30px;
}
.skills img {
  height: 70px;
  width: 70px;
  transition-duration: 0.5s;
}

.skills img:hover {
  box-shadow: 5px 5px 10px 3px rgba(1, 1, 34, 0.397);
  transition-duration: 0.5s;
}
.resume-section {
  margin: 40px;
}
.resume-section h1 {
  margin-bottom: 10px;
}
.resume-section a {
  background-color: #032b43;
  text-decoration: none;
  color: #c0e0de;
  display: inline-block;
  font-size: 17px;
  padding: 5px 5px;
  /* border: 1px solid #c0e0de; */
  border-radius: 5px;
  transition-duration: 0.5s;
}
.resume-section a:hover {
  box-shadow: 5px 5px 10px 3px rgba(1, 1, 34, 0.397);
  transition-duration: 0.5s;
}
.technical-box-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills a {
  margin: 10px;
}
nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 45px;
  top: 0;
  background-color: #032b43;
  z-index: 5;
}
nav a {
  text-decoration: none;
  color: #c0e0de;
  display: inline-block;
  margin: 7px;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition-duration: 0.5s;
}
nav a:hover {
  border: 1px solid #c0e0de;
  transition-duration: 0.5s;
}

.whole-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}
/* .project {
  position: relative;
} */
/* .project-description {
  position: absolute;
  bottom: 0;
  /* background-image: linear-gradient(to right, rgb(10, 0, 65), #032b43); 
  background-color: #032b43;
  opacity: 0.3;
} */
/* .project-description:hover {
  opacity: 1;
} */

/* .project-description p,
.project-description a {
  color: #c0e0de;
} */
.project img:hover,
.project img:active {
  transition: 1s;
  box-shadow: 12px 12px 10px 3px rgba(2, 2, 66, 0.2);
}
.project img,
.project img:active {
  transition: 1s;
}

header {
  margin-top: 50px;
}
.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 40px;
  align-items: center;
}
.about-me-my-img {
  /* height: 300px;
  width: 300px; */
  height: 100%;
  width: 100%;
}
.img-q-wrapper {
  position: relative;
  height: 350px;
  width: 300px;
}

.about-me-description {
  flex: 1;
  padding: 25px;
}

.quote {
  top: 0px;
  margin-top: 0px;
  right: 0px;
  left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  opacity: 0;
  width: 270px;
  height: 200px;
  position: absolute;
  background-color: black;
  color: white;
  transition-duration: 0.5s;
  padding: 25% 5%;
}
.quote:hover {
  opacity: 0.8;
  transition-duration: 0.5s;
}
.contact {
  background-color: #032b43;
  width: 100vw;
  color: #c0e0de;
  font-size: 15px;
}

.contact a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: #c0e0de;
  font-size: 15px;
}
.contact {
  padding: 10px;
}
.contact p {
  margin: 5px;
  font-size: 22px;
}
.projects {
  display: flex;
  flex-wrap: wrap;
}
article a {
  color: black;
}
.projects article {
  margin: 20px;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
/* .my-pic-section {
  margin-top: 100px;
} */
.projects-section {
  margin-top: 100px;
}
.project {
  display: flex;
  padding: 10px;
}
@media (max-device-width: 768px) {
  .project {
    display: block;
  }
  .projects article {
    width: 100%;
  }
  .projects article img {
    width: 80vw;
  }
}
@media (min-device-width: 769px) {
  .projects article {
    width: 50%;
    margin: 30px;
  }
}
